In [10]:
#Importing some packages
from sklearn.preprocessing import LabelEncoder
import pandas as pd

Two lists of categorical data are made and converted into pandas dataframes. The collumn is given a name.

In [11]:
Gender = ['male','female','X','male','female','female','male','female','Y']
Temperature = ['HyperThermia', 'HypoThermia','Body', 'Death high T', 'Death low T','Body',
                'HyperThermia','HypoThermia','Death high T']

df_gender = pd.DataFrame(Gender)
df_gender.columns = ['Genders']

df_temp = pd.DataFrame(Temperature)
df_temp.columns = ['Temp']

Display the datasets

In [12]:
display(df_gender)
print('\n')
display(df_temp)

  Genders
0    male
1  female
2       X
3    male
4  female
5  female
6    male
7  female
8       Y

           Temp
0  HyperThermia
1   HypoThermia
2          Body
3  Death high T
4   Death low T
5          Body
6  HyperThermia
7   HypoThermia
8  Death high T

Make a label encoder and apply it to the datasets. Show the results.

In [13]:
encoder = LabelEncoder()
df = encoder.fit_transform(df_gender['Genders'])
display(df)
print('\n')
df = encoder.fit_transform(df_temp['Temp'])
display(df)

array([3, 2, 0, 3, 2, 2, 3, 2, 1], dtype=int64)

array([3, 4, 0, 1, 2, 0, 3, 4, 1], dtype=int64)

In [14]:
df = df_temp['Temp'].map({'Death low T':0, 'HypoThermia':1, 'Body':2, 'HyperThermia':3, 'Death high T':4})
display(pd.DataFrame(df))

   Temp
0     3
1     1
2     2
3     4
4     0
5     2
6     3
7     1
8     4

Use the pandas dummy's function to return a dataset with the columns replaced with one_hot encoded versions.Show the result.

In [15]:
df = pd.get_dummies(df_gender, columns=['Genders'])
display(df_gender)
display(df)


print('\n')
df = pd.get_dummies(df_temp, columns=['Temp'])
display(df_temp)
display(df)

  Genders
0    male
1  female
2       X
3    male
4  female
5  female
6    male
7  female
8       Y

   Genders_X  Genders_Y  Genders_female  Genders_male
0          0          0               0             1
1          0          0               1             0
2          1          0               0             0
3          0          0               0             1
4          0          0               1             0
5          0          0               1             0
6          0          0               0             1
7          0          0               1             0
8          0          1               0             0

           Temp
0  HyperThermia
1   HypoThermia
2          Body
3  Death high T
4   Death low T
5          Body
6  HyperThermia
7   HypoThermia
8  Death high T

,Temp_Body,Temp_Death high T,Temp_Death low T,Temp_HyperThermia,Temp_HypoThermia
0,0,0,0,1,0
1,0,0,0,0,1
2,1,0,0,0,0
3,0,1,0,0,0
4,0,0,1,0,0
5,1,0,0,0,0
6,0,0,0,1,0
7,0,0,0,0,1
8,0,1,0,0,0